@use "@wordpress/base-styles/colors";

.feed-header {
	box-sizing: border-box;
	padding: var(--wpds-dimension-padding-lg, 16px) var(--wpds-dimension-padding-2xl, 24px);
	border-bottom: var(--wpds-border-width-xs, 1px) solid colors.$gray-200;

	&__description {
		margin: 0;
		color: colors.$gray-700;
		font-size: var(--wpds-typography-font-size-md, 13px);
	}
}
