.activitypub-follower-block {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: flex;
		margin-bottom: 1rem;
	}
	img {
		border-radius: 50%;
		width: 40px;
		height: 40px;
		margin-right: var( --wp--preset--spacing--20, .5rem );
	}
	.activitypub-link {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		color: inherit !important;
		text-decoration: none !important; // overrides core styles for external links
	}
	.activitypub-name, .activitypub-handle {
		text-decoration: underline;
		text-decoration-thickness: .8px;
		text-underline-position: under;

		&:hover {
			text-decoration: none;
		}
	}
	.activitypub-name {
		font-size: var( --wp--preset--font-size--normal, 16px );
	}
	.activitypub-actor {
		font-size: var( --wp--preset--font-size--small, 13px );
	}
	.sep {
		padding: 0 .2rem;
	}
	.wp-block-query-pagination {
		margin-top: 1.5rem;
	}
	.activitypub-pager {
		cursor: default;
		&.current {
			opacity: .33;
		}
	}
	.page-numbers {
		padding: 0 .2rem;
		&.current {
			opacity: 1;
			font-weight: bold;
		}
	}
}