/build/**/*.map
/coverage/
/node_modules/
/vendor/
_site
.idea/
.cursor
.DS_Store
.php_cs.cache
.phpunit.result.cache
.sass-cache
.vscode/settings.json
.windsurf
.windsurfrules
.wp-env.override.json
composer.lock
package-lock.json
