# SPDX-FileCopyrightText: 2022 Matthias Pfefferle <matthias@pfefferle.org>
#
# SPDX-License-Identifier: CC0-1.0

/node_modules/
/vendor/
package-lock.json
composer.lock
.DS_Store
.idea/
.php_cs.cache
