parameters:
	ignoreErrors:
		-
			message: '#^Unable to resolve the template type TUrl in call to function wp_http_validate_url$#'
			identifier: argument.templateType
			count: 1
			path: includes/activity/class-generic-object.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: includes/activity/class-generic-object.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: includes/cache/class-file.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: includes/cache/class-file.php

		-
			message: '#^Result of \|\| is always true\.$#'
			identifier: booleanOr.alwaysTrue
			count: 1
			path: includes/cache/class-file.php

		-
			message: '#^Unable to resolve the template type TUrl in call to function wp_http_validate_url$#'
			identifier: argument.templateType
			count: 1
			path: includes/class-attachments.php

		-
			message: '#^Property WP_Comment\:\:\$comment_type \(string\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: includes/class-avatars.php

		-
			message: '#^Call to method get\(\) on an unknown class Activitypub\\WP_Query\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-blocks.php

		-
			message: '#^Call to method is_feed\(\) on an unknown class Activitypub\\WP_Query\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-blocks.php

		-
			message: '#^Call to method is_main_query\(\) on an unknown class Activitypub\\WP_Query\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-blocks.php

		-
			message: '#^Call to method is_singular\(\) on an unknown class Activitypub\\WP_Query\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-blocks.php

		-
			message: '#^Method Activitypub\\Blocks\:\:get_user_id\(\) should return int\|null but returns string\.$#'
			identifier: return.type
			count: 2
			path: includes/class-blocks.php

		-
			message: '#^Method Activitypub\\Blocks\:\:render_reply_block\(\) should return string but returns null\.$#'
			identifier: return.type
			count: 1
			path: includes/class-blocks.php

		-
			message: '#^Offset 0 on array\{list\<string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: includes/class-blocks.php

		-
			message: '#^Parameter \$query of method Activitypub\\Blocks\:\:filter_query_loop_vars\(\) has invalid type Activitypub\\WP_Query\.$#'
			identifier: class.notFound
			count: 1
			path: includes/class-blocks.php

		-
			message: '#^Comparison operation "\<" between int\<1, max\> and 1 is always false\.$#'
			identifier: smaller.alwaysFalse
			count: 2
			path: includes/class-blurhash.php

		-
			message: '#^Offset 0 on array\{0\: int\<0, max\>, 1\: int\<0, max\>, 2\: int, 3\: string, mime\: string, channels\?\: int, bits\?\: int\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: includes/class-blurhash.php

		-
			message: '#^Offset 1 on array\{0\: int\<0, max\>, 1\: int\<0, max\>, 2\: int, 3\: string, mime\: string, channels\?\: int, bits\?\: int\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: includes/class-blurhash.php

		-
			message: '#^Result of \|\| is always false\.$#'
			identifier: booleanOr.alwaysFalse
			count: 1
			path: includes/class-blurhash.php

		-
			message: '#^Static method Activitypub\\Comment\:\:post_has_remote_comments\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: includes/class-comment.php

		-
			message: '#^@param int \$actor_id does not accept actual type of parameter\: ''''\|numeric\-string\.$#'
			identifier: parameter.phpDocType
			count: 4
			path: includes/class-dispatcher.php

		-
			message: '#^@param int \$user_id does not accept actual type of parameter\: ''''\|numeric\-string\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: includes/class-dispatcher.php

		-
			message: '#^Expected 1 @param tags, found 4\.$#'
			identifier: paramTag.count
			count: 1
			path: includes/class-migration.php

		-
			message: '#^Strict comparison using \!\=\= between ''1'' and mixed~''1'' will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: includes/class-migration.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: includes/class-options.php

		-
			message: '#^Strict comparison using \=\=\= between false and false will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: includes/class-options.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: includes/class-options.php

		-
			message: '#^Parameter \#2 \$args of function register_post_type expects array\{label\?\: string, labels\?\: array\<string\>, description\?\: string, public\?\: bool, hierarchical\?\: bool, exclude_from_search\?\: bool, publicly_queryable\?\: bool, show_ui\?\: bool, \.\.\.\}, array\{labels\: array\{name\: string, singular_name\: string\}, capabilities\: array\{create_posts\: false\}, map_meta_cap\: true, public\: false, show_in_rest\: false, rewrite\: false, query_var\: false, supports\: array\{''title'', ''editor'', ''author'', ''custom\-fields''\}, \.\.\.\} given\.$#'
			identifier: argument.type
			count: 2
			path: includes/class-post-types.php

		-
			message: '#^Parameter \#2 \$args of function register_post_type expects array\{label\?\: string, labels\?\: array\<string\>, description\?\: string, public\?\: bool, hierarchical\?\: bool, exclude_from_search\?\: bool, publicly_queryable\?\: bool, show_ui\?\: bool, \.\.\.\}, array\{labels\: array\{name\: string, singular_name\: string\}, map_meta_cap\: true, public\: false, capabilities\: array\{create_posts\: false\}, show_in_rest\: true, rest_controller_class\: ''Activitypub\\\\Rest\\\\Remote_Posts_Controller'', rewrite\: false, query_var\: false, \.\.\.\} given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-post-types.php

		-
			message: '#^Parameter \#2 \$args of function register_post_type expects array\{label\?\: string, labels\?\: array\<string\>, description\?\: string, public\?\: bool, hierarchical\?\: bool, exclude_from_search\?\: bool, publicly_queryable\?\: bool, show_ui\?\: bool, \.\.\.\}, array\{labels\: array\{name\: string, singular_name\: string\}, public\: false, capabilities\: array\{create_posts\: false\}, show_in_rest\: true, rest_controller_class\: ''Activitypub\\\\Rest\\\\Remote_Actors_Controller'', hierarchical\: false, rewrite\: false, query_var\: false, \.\.\.\} given\.$#'
			identifier: argument.type
			count: 1
			path: includes/class-post-types.php

		-
			message: '#^Cannot access property \$meta_id on object\|true\.$#'
			identifier: property.nonObject
			count: 1
			path: includes/class-query.php

		-
			message: '#^Cannot access property \$meta_key on object\|true\.$#'
			identifier: property.nonObject
			count: 1
			path: includes/class-query.php

		-
			message: '#^Cannot access property \$meta_value on object\|true\.$#'
			identifier: property.nonObject
			count: 1
			path: includes/class-query.php

		-
			message: '#^Cannot access property \$post_id on object\|true\.$#'
			identifier: property.nonObject
			count: 1
			path: includes/class-query.php

		-
			message: '#^Property Activitypub\\Query\:\:\$is_activitypub_request \(bool\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: includes/class-query.php

		-
			message: '#^Property Activitypub\\Query\:\:\$is_old_host_request \(bool\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: includes/class-query.php

		-
			message: '#^Static property Activitypub\\Query\:\:\$instance \(Activitypub\\Query\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: includes/class-query.php

		-
			message: '#^Static property Activitypub\\Query\:\:\$instance \(Activitypub\\Query\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: includes/class-query.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: includes/class-query.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: includes/class-router.php

		-
			message: '#^Method Activitypub\\Router\:\:redirect_canonical\(\) should return string but returns null\.$#'
			identifier: return.type
			count: 2
			path: includes/class-router.php

		-
			message: '#^Method Activitypub\\Sanitize\:\:constant_value\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: includes/class-sanitize.php

		-
			message: '#^Call to function is_wp_error\(\) with non\-empty\-array\<mixed, mixed\> will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 2
			path: includes/class-scheduler.php

		-
			message: '#^Unable to resolve the template type TUrl in call to function wp_http_validate_url$#'
			identifier: argument.templateType
			count: 1
			path: includes/class-search.php

		-
			message: '#^Call to function is_wp_error\(\) with non\-empty\-array\<mixed, mixed\> will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: includes/collection/class-followers.php

		-
			message: '#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: includes/collection/class-inbox.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: includes/collection/class-inbox.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: includes/collection/class-inbox.php

		-
			message: '#^Callback expects 0 parameters, \$accepted_args is set to 4\.$#'
			identifier: arguments.count
			count: 1
			path: includes/collection/class-interactions.php

		-
			message: '#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: includes/collection/class-outbox.php

		-
			message: '#^Parameter \#1 \$post_id of function Activitypub\\get_content_visibility expects int\|WP_Post, array given\.$#'
			identifier: argument.type
			count: 2
			path: includes/collection/class-posts.php

		-
			message: '#^Method Activitypub\\Collection\\Remote_Actors\:\:persist\(\) never returns WP_Error so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: includes/collection/class-remote-actors.php

		-
			message: '#^Argument of an invalid type stdClass supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: includes/collection/class-remote-posts.php

		-
			message: '#^Variable \$post_ids in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: includes/collection/class-remote-posts.php

		-
			message: '#^Function Activitypub\\add_to_outbox\(\) should return bool\|int but returns WP_Error\.$#'
			identifier: return.type
			count: 1
			path: includes/functions-federation.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: includes/functions.php

		-
			message: '#^Strict comparison using \=\=\= between 0 and \(float\|false\) will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 2
			path: includes/functions.php

		-
			message: '#^Expected 1 @param tags, found 3\.$#'
			identifier: paramTag.count
			count: 1
			path: includes/handler/class-collection-sync.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 2
			path: includes/handler/class-delete.php

		-
			message: '#^@param string\|WP_Comment \$result does not accept actual type of parameter\: bool\|WP_Error\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: includes/handler/class-undo.php

		-
			message: '#^Action callback returns bool but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: includes/handler/class-undo.php

		-
			message: '#^Method Activitypub\\Handler\\Outbox\\Follow\:\:handle_follow\(\) should return int\|WP_Error but returns array\.$#'
			identifier: return.type
			count: 1
			path: includes/handler/outbox/class-follow.php

		-
			message: '#^Method Activitypub\\Handler\\Outbox\\Undo\:\:handle_undo\(\) should return int\|WP_Error but returns array\.$#'
			identifier: return.type
			count: 3
			path: includes/handler/outbox/class-undo.php

		-
			message: '#^@param tag must not be named \$this\. Choose a descriptive alias, for example \$instance\.$#'
			identifier: phpDoc.parseError
			count: 1
			path: includes/model/class-blog.php

		-
			message: '#^Method Activitypub\\Model\\Blog\:\:get_tag\(\) should return array\<string\> but returns list\<array\<string, string\>\>\.$#'
			identifier: return.type
			count: 1
			path: includes/model/class-blog.php

		-
			message: '#^PHPDoc type array of property Activitypub\\Model\\Blog\:\:\$generator is not covariant with PHPDoc type string\|null of overridden property Activitypub\\Activity\\Base_Object\:\:\$generator\.$#'
			identifier: property.phpDocType
			count: 1
			path: includes/model/class-blog.php

		-
			message: '#^@param tag must not be named \$this\. Choose a descriptive alias, for example \$instance\.$#'
			identifier: phpDoc.parseError
			count: 1
			path: includes/model/class-user.php

		-
			message: '#^PHPDoc type array of property Activitypub\\Model\\User\:\:\$generator is not covariant with PHPDoc type string\|null of overridden property Activitypub\\Activity\\Base_Object\:\:\$generator\.$#'
			identifier: property.phpDocType
			count: 1
			path: includes/model/class-user.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: includes/model/class-user.php

		-
			message: '#^Property Activitypub\\OAuth\\Token\:\:\$token_key is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: includes/oauth/class-token.php

		-
			message: '#^Call to function is_wp_error\(\) with array\{id\: mixed, type\: ''OrderedCollection'', totalItems\: int\<0, max\>, orderedItems\: mixed, ''@context''\: mixed\} will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: includes/rest/class-moderators-controller.php

		-
			message: '#^Offset ''@context'' on array\{id\: mixed, type\: ''OrderedCollection'', totalItems\: int\<0, max\>, orderedItems\: mixed\} in empty\(\) does not exist\.$#'
			identifier: empty.offset
			count: 1
			path: includes/rest/class-moderators-controller.php

		-
			message: '#^Method Activitypub\\Rest\\Outbox_Controller\:\:prepare_item_for_response\(\) should return array but returns WP_Error\.$#'
			identifier: return.type
			count: 1
			path: includes/rest/class-outbox-controller.php

		-
			message: '#^Return type \(array\) of method Activitypub\\Rest\\Outbox_Controller\:\:prepare_item_for_response\(\) should be compatible with return type \(WP_Error\|WP_REST_Response\) of method WP_REST_Controller\:\:prepare_item_for_response\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: includes/rest/class-outbox-controller.php

		-
			message: '#^Left side of && is always false\.$#'
			identifier: booleanAnd.leftAlwaysFalse
			count: 1
			path: includes/rest/class-server.php

		-
			message: '#^Method Activitypub\\Rest\\OAuth\\Token_Controller\:\:handle_authorization_code_grant\(\) never returns WP_Error so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: includes/rest/oauth/class-token-controller.php

		-
			message: '#^Method Activitypub\\Rest\\OAuth\\Token_Controller\:\:handle_refresh_token_grant\(\) never returns WP_Error so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: includes/rest/oauth/class-token-controller.php

		-
			message: '#^Action callback returns mixed but should not return anything\.$#'
			identifier: return.void
			count: 15
			path: includes/scheduler/class-actor.php

		-
			message: '#^Callback expects 1 parameter, \$accepted_args is set to 3\.$#'
			identifier: arguments.count
			count: 1
			path: includes/scheduler/class-actor.php

		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: includes/scheduler/class-comment.php

		-
			message: '#^Method Activitypub\\Signature\\Http_Signature_Draft\:\:get_signed_data\(\) should return string but returns false\.$#'
			identifier: return.type
			count: 8
			path: includes/signature/class-http-signature-draft.php

		-
			message: '#^Method Activitypub\\Transformer\\Activity_Object\:\:get_content_map\(\) should return array but returns null\.$#'
			identifier: return.type
			count: 1
			path: includes/transformer/class-activity-object.php

		-
			message: '#^Method Activitypub\\Transformer\\Activity_Object\:\:get_name_map\(\) should return array but returns null\.$#'
			identifier: return.type
			count: 1
			path: includes/transformer/class-activity-object.php

		-
			message: '#^Method Activitypub\\Transformer\\Activity_Object\:\:get_summary_map\(\) should return array but returns null\.$#'
			identifier: return.type
			count: 1
			path: includes/transformer/class-activity-object.php

		-
			message: '#^Class WP_Term referenced with incorrect case\: WP_term\.$#'
			identifier: class.nameCase
			count: 1
			path: includes/transformer/class-base.php

		-
			message: '#^Method Activitypub\\Transformer\\Base\:\:get_attributed_to\(\) should return string but returns null\.$#'
			identifier: return.type
			count: 1
			path: includes/transformer/class-base.php

		-
			message: '#^Method Activitypub\\Transformer\\Base\:\:to_object\(\) should return Activitypub\\Activity\\Base_Object but returns WP_Error\.$#'
			identifier: return.type
			count: 1
			path: includes/transformer/class-base.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: includes/transformer/class-base.php

		-
			message: '#^Method Activitypub\\Transformer\\Comment\:\:get_context\(\) should return string but returns null\.$#'
			identifier: return.type
			count: 1
			path: includes/transformer/class-comment.php

		-
			message: '#^Access to an undefined property Activitypub\\Activity\\Base_Object\:\:\$@context\.$#'
			identifier: property.notFound
			count: 1
			path: includes/transformer/class-term.php

		-
			message: '#^Right side of && is always false\.$#'
			identifier: booleanAnd.rightAlwaysFalse
			count: 1
			path: includes/wp-admin/class-settings-fields.php

		-
			message: '#^Static property Activitypub\\WP_Admin\\Import\\Starter_Kit\:\:\$blog_user_filter_callback \(callable\(\)\: mixed\) does not accept null\.$#'
			identifier: assign.propertyType
			count: 1
			path: includes/wp-admin/import/class-starter-kit.php

		-
			message: '#^Static property Activitypub\\WP_Admin\\Import\\Starter_Kit\:\:\$file is unused\.$#'
			identifier: property.unused
			count: 1
			path: includes/wp-admin/import/class-starter-kit.php

		-
			message: '#^Static property Activitypub\\WP_Admin\\Import\\Starter_Kit\:\:\$starter_kit \(object\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: includes/wp-admin/import/class-starter-kit.php

		-
			message: '#^Parameter \#1 \$user_id of static method Activitypub\\Collection\\Followers\:\:count\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: integration/class-enable-mastodon-apps.php

		-
			message: '#^Parameter \#1 \$user_id of static method Activitypub\\Integration\\Enable_Mastodon_Apps\:\:maybe_map_user_to_blog\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 2
			path: integration/class-enable-mastodon-apps.php

		-
			message: '#^Unable to resolve the template type T in call to function wp_unslash$#'
			identifier: argument.templateType
			count: 1
			path: integration/class-enable-mastodon-apps.php

		-
			message: '#^Call to function method_exists\(\) with ''Automattic\\\\Jetpack\\\\Podcast\\\\Feed\\\\Customize_Feed'' and ''resolve_category_id'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: integration/class-jetpack.php

		-
			message: '#^Call to function method_exists\(\) with ''Automattic\\\\Jetpack\\\\Podcast\\\\Feed\\\\Episode_Block_Tags'' and ''get_block_attrs'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: integration/class-jetpack.php

		-
			message: '#^Call to function method_exists\(\) with ''Automattic\\\\Jetpack\\\\Podcast\\\\Settings'' and ''raw_show_image_url'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: integration/class-jetpack.php

		-
			message: '#^Action callback returns null but should not return anything\.$#'
			identifier: return.void
			count: 1
			path: integration/class-multisite-language-switcher.php
