<phpunit
	bootstrap="tests/phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="ActivityPub">
			<directory prefix="class-test-" suffix=".php">./tests/phpunit/tests</directory>
		</testsuite>
	</testsuites>
	<listeners>
		<listener class="Activitypub\Tests\Activitypub_Testcase_Timer" file="tests/phpunit/includes/class-activitypub-testcase-timer.php" />
	</listeners>
	<coverage>
		<include>
			<directory suffix=".php">./includes</directory>
			<directory suffix=".php">./integration</directory>
		</include>
	</coverage>
</phpunit>
