<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="ActivityPub">
			<directory prefix="class-test-" suffix=".php">./tests</directory>
		</testsuite>
	</testsuites>
	<listeners>
		<listener class="Activitypub\Tests\Activitypub_Testcase_Timer" file="tests/class-activitypub-testcase-timer.php" />
	</listeners>
</phpunit>
