/**
 * Site Hub Component Styles
 */

.site-hub {
	color: var(--wpds-color-fg-inverted-secondary, #cccccc);
	position: sticky;
	top: 0;
	background-color: var(--wpds-color-bg-surface-neutral-weak, #1e1e1e);
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--wpds-spacing-20, 86px);
	margin-right: var(--wpds-spacing-30, 12px);
	flex-shrink: 0; // Prevent flex parent from shrinking this element.
	height: 60px;

	.components-button {
		color: var(--wpds-color-fg-inverted-primary, #ffffff);
	}
}

.site-hub__icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
	flex-shrink: 0;
}

.site-hub__icon-button {
	display: flex !important;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0;
	transform: translateX(-2px);

	&:focus {
		outline: var(--wpds-border-width-focus, 2px) solid
			var(--wpds-color-stroke-focus-brand, #0675c4);
		outline-offset: calc(-1 * var(--wpds-border-width-focus, 2px));
	}

	.site-hub__icon {
		width: 32px;
		height: 32px;
	}
}

.site-hub__actions {
	flex-shrink: 0;
}

.site-hub__title .components-button {
	display: block;
	flex-grow: 1;
	font-size: var(--wpds-font-size-medium, 15px);
	font-weight: var(--wpds-font-weight-medium, 500);
	overflow: hidden;
	margin-left: -4px;
	// Add space for the ↗ to render.
	padding-right: var(--wpds-spacing-40, 16px);
	position: relative;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:hover,
	&:focus,
	&:active {
		color: var(--wpds-color-fg-inverted-primary, #ffffff);
	}

	&:focus {
		// Defer to :focus-visible below.
		box-shadow: none;
		outline: none;
	}

	&:focus-visible {
		// Push the shadow away from the title.
		box-shadow: 0 0 0 var(--wp-admin-border-width-focus) #1e1e1e,
			0 0 0 calc(2 * var(--wp-admin-border-width-focus)) var(--wpds-color-stroke-focus-brand, #0675c4);

		// Windows High Contrast mode will show this outline, but not the box-shadow.
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	// External link indicator
	&::after {
		content: "\2197";
		font-weight: 400;
		opacity: 0;
		position: absolute;
		right: 0;
		transition: opacity 0.1s linear;
	}

	&:hover::after,
	&:focus::after,
	&:active::after {
		opacity: 1;
	}
}

.site-hub__command-button {
	color: var(--wpds-color-fg-inverted-primary, #ffffff);

	&:hover,
	&:active {
		svg {
			fill: var(--wpds-color-fg-inverted-secondary, #cccccc);
		}
	}
}
