.activitypub-profile-editor {

	max-width: 100%;
	box-shadow: 1px 1px 30px black, 0 0 10px red !important;
	position: relative;

	> div {
		max-width: 100%;
	}

	img {
		max-width: 100%;
	}

	.activitypub-profile-editor__actions {
		position: absolute;
		height: 32px;
		top: -32px;
		right: 0;

		button {
			background-color: red;
			border: 0 none;
			border-radius: 4px 0 0 0;
			height: 100%;
			&.is-primary {
				background-color: green;
				border-radius: 0 4px 0 0;
			}
			svg {
				fill: white;
			}
		}
	}

	.activitypub-profile-editor__text-wrap {
		padding: 1em 2em 2em;
	}

	.activitypub-profile-editor__avatar {
		width: 96px;
		height: 96px;
		margin: -48px auto 12px;
		outline: 1px solid #eee;
		border: 1px solid #222;
		position: relative;
	}

	.activitypub-profile-editor__header {
		position: relative;
	}

	.activitypub-hover-button {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.3s;
		background-color: rgba( 200, 200, 200, 0.85 );

		&:hover, &:focus {
			opacity: 1;
		}
	}

	.not-editing input[type="text"] {
		border-color: transparent;
		background-color: transparent;
	}

	.activitypub-profile-editor__description input[type="text"] {
		font-size: 13px;
	}
	.activitypub-profile-editor__name input[type="text"] {
		font-size: 18px;
	}

	// override the plugin page styles
	.settings_page_activitypub .activitypub-welcome-page & {
		.activitypub-profile-editor__description input[type="text"] {
			font-size: 13px;
		}
		.activitypub-profile-editor__name input[type="text"] {
			font-size: 18px;
		}
	}
}