@use "../shared/modal/style";

.activitypub-remote-reply {
	margin-top: 24px;

	.activitypub-remote-profile {
		align-items: center;
		display: flex;
		gap: 1rem;

		&__close {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			width: 24px;
			height: 24px;
			line-height: 1;
			border-radius: 50%;
		}
	}

	&__link,
	.activitypub-remote-profile__link {
		cursor: pointer;
		display: inline-block;
		margin: 0 !important; // Override Twenty Fifteen/Twenty Sixteen styles.
	}
}

.activitypub-remote-profile,
.activitypub-remote-reply__link {

	&[hidden] {
		display: none !important;
	}
}
