/**
 * Main stylesheet entry point for Social Web
 * This compiles to style-index.css
 */

// Import global styles (design tokens, body styles, root element)
@import './styles/design-tokens.scss';

// Main layout container.
.activitypub-social-web-layout {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#wpfooter {
	display: none;
}
