.activitypub-settings {
	max-width: 800px;
	margin: 0 auto;
}

.settings_page_activitypub .notice {
	max-width: 800px;
	margin: auto;
	margin: 0px auto 30px;
}

.settings_page_activitypub .wrap {
	padding-left: 22px;
}

.activitypub-settings-header {
	text-align: center;
	margin: 0 0 1rem;
	background: #fff;
	border-bottom: 1px solid #dcdcde;
}

.activitypub-settings-title-section {
	display: flex;
	align-items: center;
	justify-content: center;
	clear: both;
	padding-top: 8px;
}

.settings_page_activitypub #wpcontent {
	padding-left: 0;
}

.activitypub-settings-tabs-wrapper {
	display: -ms-inline-grid;
	-ms-grid-columns: auto auto auto auto;
	vertical-align: top;
	display: inline-grid;
	grid-template-columns: auto auto auto auto;
}

.activitypub-settings-tab.active {
	box-shadow: inset 0 -3px #3582c4;
	font-weight: 600;
}

.activitypub-settings-tab {
	display: block;
	text-decoration: none;
	color: inherit;
	padding: .5rem 1rem 1rem;
	margin: 0 1rem;
	transition: box-shadow .5s ease-in-out;
}

.wp-header-end {
	visibility: hidden;
	margin: -2px 0 0;
}

summary {
	cursor: pointer;
	text-decoration: underline;
	color: #2271b1;
}

.activitypub-settings-accordion {
	border: 1px solid #c3c4c7;
}

.activitypub-settings-accordion-heading {
	margin: 0;
	border-top: 1px solid #c3c4c7;
	font-size: inherit;
	line-height: inherit;
	font-weight: 600;
	color: inherit;
}

.activitypub-settings-accordion-heading:first-child {
	border-top: none;
}

.activitypub-settings-accordion-panel {
	margin: 0;
	padding: 1em 1.5em;
	background: #fff;
}

.activitypub-settings-accordion-trigger {
	background: #fff;
	border: 0;
	color: #2c3338;
	cursor: pointer;
	display: flex;
	font-weight: 400;
	margin: 0;
	padding: 1em 3.5em 1em 1.5em;
	min-height: 46px;
	position: relative;
	text-align: left;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	-webkit-user-select: auto;
	user-select: auto;
}

.activitypub-settings-accordion-trigger {
	color: #2c3338;
	cursor: pointer;
	font-weight: 400;
	text-align: left;
}

.activitypub-settings-accordion-trigger .title {
	pointer-events: none;
	font-weight: 600;
	flex-grow: 1;
}

.activitypub-settings-accordion-trigger .icon,
.activitypub-settings-accordion-viewed .icon {
	border: solid #50575e medium;
	border-width: 0 2px 2px 0;
	height: .5rem;
	pointer-events: none;
	position: absolute;
	right: 1.5em;
	top: 50%;
	transform: translateY(-70%) rotate(45deg);
	width: .5rem;
}

.activitypub-settings-accordion-trigger[aria-expanded="true"] .icon {
	transform: translateY(-30%) rotate(-135deg);
}

.activitypub-settings-accordion-trigger:active,
.activitypub-settings-accordion-trigger:hover {
	background: #f6f7f7;
}

.activitypub-settings-accordion-trigger:focus {
	color: #1d2327;
	border: none;
	box-shadow: none;
	outline-offset: -1px;
	outline: 2px solid #2271b1;
	background-color: #f6f7f7;
}

.activitypub-settings
input.blog-user-identifier {
	text-align: right;
}

.activitypub-settings
.header-image {
	width: 100%;
	height: 80px;
	position: relative;
	display: block;
	margin-bottom: 40px;
	background-image: rgb(168,165,175);
	background-image: linear-gradient(180deg, red, yellow);
	background-size: cover;
}

.activitypub-settings
.logo {
	height: 80px;
	width: 80px;
	position: relative;
	top: 40px;
	left: 40px;
}

.settings_page_activitypub .box  {
	border: 1px solid #c3c4c7;
	background-color: #fff;
	padding: 1em 1.5em;
	margin-bottom: 1.5em;
}

.settings_page_activitypub .activitypub-welcome-page .box label {
	font-weight: bold;
}

.settings_page_activitypub .activitypub-welcome-page input {
	font-size: 20px;
	width: 95%;
}

.settings_page_activitypub .plugin-recommendations {
	border-bottom: none;
	margin-bottom: 0;
}

#dashboard_right_now li a.activitypub-followers::before {
	content: "\f307";
	font-family: dashicons;
}

.repost .dashboard-comment-wrap,
.like .dashboard-comment-wrap {
	padding-inline-start: 63px;
}

.repost .dashboard-comment-wrap .comment-author,
.like .dashboard-comment-wrap .comment-author {
	margin-block: 0;
}
