/**
 * Main stylesheet entry point for ActivityPub Client
 * This compiles to style-index.css
 */

// Import global styles (design tokens, body styles, root element)
@use './styles/design-tokens.scss';

// Main layout container.
.activitypub-client-layout {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#wpfooter {
	display: none;
}
