name: Unit Testing
on:
  push:
  pull_request:
jobs:
  phpunit:
    runs-on: ubuntu-latest
    services:
     mysql:
       image: mariadb:10.4
       env:
         MYSQL_ROOT_PASSWORD: root
       ports:
         - 3306:3306
       options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=10s --health-retries=10
    strategy:
      matrix:
        php-versions: ['7.0', '7.1', '7.2', '7.3', '7.4', '8.0', '8.1', '8.2', '8.3']
        include:
          - wp-version: latest
          - wp-version: '6.5'
            php-versions: '7.0'
          - wp-version: '6.5'
            php-versions: '7.1'
    steps:
      - name: Install svn
        run: |
          sudo apt-get update
          sudo apt-get install subversion
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none
          tools: composer, phpunit-polyfills
          extensions: mysql

      - name: Install Composer dependencies for PHP
        uses: "ramsey/composer-install@v1"

      - name: Setup Test Environment
        run: bash bin/install-wp-tests.sh wordpress_test root root 127.0.0.1 ${{ matrix.wp-version }}

      - name: Unit Testing
        run: ./vendor/bin/phpunit
        env:
          PHP_VERSION: ${{ matrix.php-versions }}
